.album {
  &__thumbnail {
    & > img {
      width: 190px;
      border-radius: 0.25rem;
      -webkit-border-radius: 0.25rem;
      -moz-border-radius: 0.25rem;
      -ms-border-radius: 0.25rem;
      -o-border-radius: 0.25rem;
    }
  }

  &__name {
    font-weight: bold;
  }
}
